<!DOCTYPE html>
<html>
  <head>
    <link href="webfonts/lato_font.css" rel="stylesheet">
    <link href="css/bulma.css" rel="stylesheet" type="text/css" media="screen">
    <link href="css/style.css" rel="stylesheet" type="text/css" media="screen">
    <link href="css/fontawesome-all.css" rel="stylesheet">
  </head>
  <body>
    <div id="app" class="content"></div>
    <script src="js/app/app.js" type="text/javascript"></script>
    <script>
       window.onload = function () {
         {{ns-name}}.core.run();
       }
    </script>
  </body>
</html>
